.order-list-container{
    height: 230px;
    width:430px;
    border: 2px solid lightgray;
    background-color:white;
    margin-right: 0;
    padding:15px;
    margin-top:70px;
    margin-left: 70px;
    margin-bottom: 20px;
    border-radius:10px;

}
.review-img{
    height: 80px;
    margin-top:10px;
    margin-left:20px;
    margin-right:200px;
    margin-bottom:10px;
}
.right-side-container{
    margin-top:50px;
    height: auto;
    background-color:#f4f7fc;
}